#adherentes.principal
  #cabezal
    %h1
      = @title
    = link_to 'Generar Mes', generar_mes_path(), :class => 'nuevo'

  #busqueda
    =form_tag( search_adherente_path, :method => "POST") do
      %input{:type => "text", :class => "busqueda", :name => 'text'}
      %button{:type => "submit", :class =>"buscar"}
        Buscar

  #cuerpo
    - if !@resultado.nil?
      = @resultado
    .pagination
      = will_paginate @adherentes, :renderer => PaginationListLinkRenderer

    = render 'tabla', :adherentes => @adherentes

    .pagination
      = will_paginate @adherentes, :renderer => PaginationListLinkRenderer
